<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_MainHeadComponentPartial")
<body>


    <div id="wrapper">

       

        @await Component.InvokeAsync("_MainHeaderComponentPartial")

        <section id="cta" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 align-self-center">
                        <h2>A digital marketing blog</h2>
                        <p class="lead"> Aenean ut hendrerit nibh. Duis non nibh id tortor consequat cursus at mattis felis. Praesent sed lectus et neque auctor dapibus in non velit. Donec faucibus odio semper risus rhoncus rutrum. Integer et ornare mauris.</p>
                        <a href="#" class="btn btn-primary">Try for free</a>
                    </div>
                    @await Html.PartialAsync("~/Views/NewsLetter/AddNewsLetter.cshtml")
                </div>
            </div>
        </section>
        @RenderBody()


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        @await Component.InvokeAsync("_MainRecentPostComponentPartial")
                    </div><!-- end col -->
                  
                    @await Component.InvokeAsync("_MainPopularPostsComponentPartial")
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        @await Component.InvokeAsync("_MainPopularCategoriesComponentPartial")
                    </div>
                
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright">&copy; Emre Kuş. Design: <a href="http://html.design">HTML Design</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
  
 
    @await Component.InvokeAsync("_MainScriptsComponentPartial")

</body>
</html>

